{% set page_id = "Agenda" %}
{% extends "layout.html" %}
{% block content %}
<div class="agenda">
	<div class="jumbotron">
		<div class="time-zone">
			<span>Times are shown in your local time zone (GMT + 7)</span>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>The Event Agenda</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="title">
				<span>Schedule Agenda</span>
				<h2>The Event Agenda</h2>
			</div>

			<div class="event-agenda">
				<div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="day-one" data-toggle="tab" href="#dayOne" role="tab" aria-controls="dayOne" aria-selected="true">
					    	Day 1
					    	<span>03 Feb 2021</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="day-two" data-toggle="tab" href="#dayTwo" role="tab" aria-controls="dayTwo" aria-selected="false">
						    Day 2
						    <span>04 Feb 2021</span>
						  </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="day-three" data-toggle="tab" href="#dayThree" role="tab" aria-controls="dayThree" aria-selected="false">
					    	Day 3
					    	<span>05 Feb 2021</span>
					    </a>
					  </li>
					  <li class="nav-item">
					  	<div class="form-group form-search mt-4">
					  		<span class="material-icons">search</span>
						  	<input type="text" class="form-control" placeholder="Search">
						  </div>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				    <div class="tab-pane fade show active" id="dayOne" role="tabpanel" aria-labelledby="day-one">
					  	<div class="table-responsive">
						  <table class="table">
						    <tbody>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">8:45 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">9:00 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Welcome & Registration</h3>
						    			<p class="summary">Continental breakfast and registration. Pick up your name badge and goodie bag</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/kelly.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Kelly Ventura</h5>
									  		<span>Business Leader</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span><span class="material-icons text-primary">play_circle_outline</span> <span class="text-muted">Archive</span></span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">9:10 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">10:45 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Spotlight & Breakout Sessions</h3>
						    			<p class="summary">Semper lacus cursus porta, magna mauris sapien risus auctor purus apien a feugiat rabitur nulla</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/timothy.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Timothy Powell</h5>
									  		<span>Chef Speaker</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span><span class="material-icons text-primary">play_circle_outline</span> <span class="text-muted">Archive</span></span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">11:00 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">12:30 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Content as Conversation</h3>
						    			<p class="summary">Porta magna mauris sapien risus auctor purus apien feugiat rabitur at sapien lacus lacinia</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/charlotte.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Charlotte Johnson</h5>
									  		<span>CMS Developer</span>
									  	</div>
						    		</td>
						    		<td>
						    			<div class="live-now">
						    				<span class="material-icons-outlined">videocam</span>
						    				<span class="status">Live now</span>
						    			</div>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">12:40 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">1:30 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Content as Conversation</h3>
						    			<p class="summary">Porta magna mauris sapien risus auctor purus apien feugiat rabitur at sapien lacus lacinia</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/charlotte.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Charlotte Johnson</h5>
									  		<span>CMS Developer</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span><span class="material-icons text-primary">play_circle_outline</span> <span class="text-muted">Archive</span></span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">12:40 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">1:30 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Afternoon Lunch Break</h3>
						    			<p class="summary">Head out & our stewards will direct you to one of the 3 places lunch is being served - the downstairs bar, upstairs bar and front reception space * Please be back in your seats for 1:30 PM, when the afternoon session will get going</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/charlotte.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Charlotte Johnson</h5>
									  		<span>CEO UX Dev</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span class="text-muted">Next Event</span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">1:40 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">5:00 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Explore the Exhibit Hall, Networking Opportunities, and On-Demand Content</h3>
						    			<p class="summary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/david.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">David Knowles</h5>
									  		<span>CMS Developer</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span class="text-muted">Next Event</span>
						    		</td>
						    	</tr>
						    </tbody>
						  </table>
						</div>
						<div class="text-right pt-3 pb-4 pr-4">
							<button class="btn btn-sm btn-primary">Download Schadule (pdf)</button>
							<button class="btn btn-sm btn-outline-info ml-3">Reserve My Seat</button>
						</div>
			  		</div>
			  		<div class="tab-pane fade" id="dayTwo" role="tabpanel" aria-labelledby="day-two">2</div>
			  		<div class="tab-pane fade" id="dayThree" role="tabpanel" aria-labelledby="day-three">3</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="sponsored-list">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	participant
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-detail" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="pict">
      		<img src="./dist/images/antas.jpg" class="card-img-top" alt="antas">
      	</div>
        <div class="desc">
        	<h5 class="modal-title" id="modalDetail">Antas</h5>
	        <p>Stand: B169</p>
	        <p>Coatings, Sealants & Adhesives | Sydney Build</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-8">
        		<div class="content-about">
        		<h4>About Antas</h4>
        		<p>Antas Pacific supplies a range of construction sealant and adhesive products based on modified silane (MS), silicone, polyurethane and acrylic polymers which are used in applications of curtain wall, insulating glass, glazing, exterior and interior caulking and sealing, and more.</p>
        		<p>Antas® is manufactured since 1989 by Jointas Chemical, a leading sealant and industrial coatings manufacturer based in Guangzhou, China. The China Construction Metal Structure Association has ranked Antas® among the best construction sealant brands in China over the last 14 consecutive years. Started as a private company, Jointas is now publicly listed in Shenzhen Stock Exchange.</p>
        		</div>
        	</div>
        	<div class="col-4">
        		<div class="content-about side">
        			<h4>Address</h4>
        			<p>1/17-19 Pavesi Street Smithfield 2165 <strong>Australia</strong></p>
        			<a href="#" class="btn btn-link btn-block"><span class="material-icons">picture_as_pdf</span> Download PDF</a>
        			<a href="#" class="btn btn-link btn-block mb-5"><span class="material-icons-outlined">videocam</span> Playback Sales Video</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">BOOK A MEETING</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">TALK SOMEONE</a>
        			<a href="#" class="btn btn-primary btn-sm btn-block mb-3">REQUEST FREE SAMPLE</a>
        		</div>
        	</div>
        	<div class="col-12">
        		<div class="content-about list-product">
        			<h4 class="mb-4 mt-4">Product</h4>
        			<div class="row">
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_1.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle G-13</h5>
							  		<p>Rekortan® G-13 is our top performing, elite full PUR, IAAF certified track system made from environmentally, renewable resources. We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_2.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle 12</h5>
							  		<p>Bottle 12 We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_3.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle</h5>
							  		<p>Elite full PUR, IAAF certified track system made from environmentally We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
      	<a href="/#" class="nav-link active">
			<span class="material-icons-outlined text-primary">event_note</span>
			Agenda
		</a>
		<a href="/#" data-rb-event-key="/#" class="nav-link">
			<span class="material-icons-outlined text-primary">amp_stories</span>
			Exhibition Hall
		</a>
		<a href="/contact.html" data-rb-event-key="/contact" class="nav-link">
			<span class="material-icons-outlined text-primary">chair</span>
			Launge
		</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}