{% set page_id = "Exhibition" %}
{% extends "layout.html" %}
{% block content %}
<div class="exhibition">
	<div class="jumbotron">
		<div class="time-zone">
			<span>Times are shown in your local time zone (GMT + 7)</span>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>Exhibition Hall</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="title-md mb-4">
				<h2>FEATURED EXHIBITORS</h2>
			</div>

			<div class="filter-box">
				<div class="box-form d-flex align-items-center">
					<div class="form-group form-search mb-0">
				  		<span class="material-icons">search</span>
					  	<input type="text" class="form-control" placeholder="Search">
					</div>
					<div class="ml-auto">
					  <button class="btn btn-link js-filter" type="button">
					    <span class="material-icons-outlined">filter_alt</span>
					  </button>
					</div>
				</div>
				<div class="box-form d-flex align-items-center">
					<span class="btn-filter active">All</span>
					<span class="btn-filter number">0-9</span>
					<span class="btn-filter">A</span>
					<span class="btn-filter">B</span>
					<span class="btn-filter">C</span>
					<span class="btn-filter">D</span>
					<span class="btn-filter">E</span>
					<span class="btn-filter">F</span>
					<span class="btn-filter">G</span>
					<span class="btn-filter">H</span>
					<span class="btn-filter">I</span>
					<span class="btn-filter">J</span>
					<span class="btn-filter">K</span>
					<span class="btn-filter">L</span>
					<span class="btn-filter">M</span>
					<span class="btn-filter">N</span>
					<span class="btn-filter">O</span>
					<span class="btn-filter">P</span>
					<span class="btn-filter">Q</span>
					<span class="btn-filter">R</span>
					<span class="btn-filter">S</span>
					<span class="btn-filter">T</span>
					<span class="btn-filter">U</span>
					<span class="btn-filter">V</span>
					<span class="btn-filter">W</span>
					<span class="btn-filter">X</span>
					<span class="btn-filter">Y</span>
					<span class="btn-filter">Z</span>
				</div>
				<div class="box-category js-category">
					<h3>Select Category</h3>
					<div class="category-list">
						<div class="row">
							<div class="col-md-4">
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck1">
								  <label class="custom-control-label" for="customCheck1">Event Partners (0)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck2">
								  <label class="custom-control-label" for="customCheck2">Building Information Modelling (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck3">
								  <label class="custom-control-label" for="customCheck3">Building Interiors & Finishes (1)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck5">
								  <label class="custom-control-label" for="customCheck5">Coatings, Sealants & Adhesives (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck6">
								  <label class="custom-control-label" for="customCheck6">Construction Tools & Equipment (2)</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck7">
								  <label class="custom-control-label" for="customCheck7">Event Partners (0)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck8">
								  <label class="custom-control-label" for="customCheck8">Building Information Modelling (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck9">
								  <label class="custom-control-label" for="customCheck9">Building Interiors & Finishes (1)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck10">
								  <label class="custom-control-label" for="customCheck10">Coatings, Sealants & Adhesives (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck11">
								  <label class="custom-control-label" for="customCheck11">Construction Tools & Equipment (2)</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck12">
								  <label class="custom-control-label" for="customCheck12">Event Partners (0)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck13">
								  <label class="custom-control-label" for="customCheck13">Building Information Modelling (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck14">
								  <label class="custom-control-label" for="customCheck14">Building Interiors & Finishes (1)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck15">
								  <label class="custom-control-label" for="customCheck15">Coatings, Sealants & Adhesives (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck16">
								  <label class="custom-control-label" for="customCheck16">Construction Tools & Equipment (2)</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="featured-content mb-20 bg">
			<div class="row">
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/aco.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>ACO</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/alintaenergi.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Alinta Energy</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/aliwood.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>AliWood</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/antas.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Antas</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/chainblockmedia.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>ATM</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/aquatechnik.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Aquatechnik</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/cat.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>CAT</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/chainblockmedia.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Chain Block Media</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/dincel.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Dincel</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/mhedemag.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>MHE Demag</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/tridify.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Tridify</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/payapps.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Pay Apps</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/tafehsw.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>TafeHSW</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/wds.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>WDS</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/payapps.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>WHS Monitor</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="title-md mb-4">
				<h2>FULL EXHIBITORS LIST</h2>
			</div>

			<div class="filter-box">
				<div class="box-form d-flex align-items-center">
					<div class="form-group form-search mb-0">
				  		<span class="material-icons">search</span>
					  	<input type="text" class="form-control" placeholder="Search">
					</div>
					<div class="ml-auto">
					  <button class="btn btn-link js-filter2" type="button">
					    <span class="material-icons-outlined">filter_alt</span>
					  </button>
					</div>
				</div>
				<div class="box-form d-flex align-items-center">
					<span class="btn-filter active">All</span>
					<span class="btn-filter number">0-9</span>
					<span class="btn-filter">A</span>
					<span class="btn-filter">B</span>
					<span class="btn-filter">C</span>
					<span class="btn-filter">D</span>
					<span class="btn-filter">E</span>
					<span class="btn-filter">F</span>
					<span class="btn-filter">G</span>
					<span class="btn-filter">H</span>
					<span class="btn-filter">I</span>
					<span class="btn-filter">J</span>
					<span class="btn-filter">K</span>
					<span class="btn-filter">L</span>
					<span class="btn-filter">M</span>
					<span class="btn-filter">N</span>
					<span class="btn-filter">O</span>
					<span class="btn-filter">P</span>
					<span class="btn-filter">Q</span>
					<span class="btn-filter">R</span>
					<span class="btn-filter">S</span>
					<span class="btn-filter">T</span>
					<span class="btn-filter">U</span>
					<span class="btn-filter">V</span>
					<span class="btn-filter">W</span>
					<span class="btn-filter">X</span>
					<span class="btn-filter">Y</span>
					<span class="btn-filter">Z</span>
				</div>
				<div class="box-category js-category2">
					<h3>Select Category</h3>
					<div class="category-list">
						<div class="row">
							<div class="col-md-4">
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck1">
								  <label class="custom-control-label" for="customCheck1">Event Partners (0)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck2">
								  <label class="custom-control-label" for="customCheck2">Building Information Modelling (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck3">
								  <label class="custom-control-label" for="customCheck3">Building Interiors & Finishes (1)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck5">
								  <label class="custom-control-label" for="customCheck5">Coatings, Sealants & Adhesives (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck6">
								  <label class="custom-control-label" for="customCheck6">Construction Tools & Equipment (2)</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck7">
								  <label class="custom-control-label" for="customCheck7">Event Partners (0)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck8">
								  <label class="custom-control-label" for="customCheck8">Building Information Modelling (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck9">
								  <label class="custom-control-label" for="customCheck9">Building Interiors & Finishes (1)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck10">
								  <label class="custom-control-label" for="customCheck10">Coatings, Sealants & Adhesives (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck11">
								  <label class="custom-control-label" for="customCheck11">Construction Tools & Equipment (2)</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck12">
								  <label class="custom-control-label" for="customCheck12">Event Partners (0)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck13">
								  <label class="custom-control-label" for="customCheck13">Building Information Modelling (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck14">
								  <label class="custom-control-label" for="customCheck14">Building Interiors & Finishes (1)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck15">
								  <label class="custom-control-label" for="customCheck15">Coatings, Sealants & Adhesives (2)</label>
								</div>
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck16">
								  <label class="custom-control-label" for="customCheck16">Construction Tools & Equipment (2)</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="featured-content mb-5">
			<div class="row">
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/aco.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>ACO</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/alintaenergi.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Alinta Energy</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/aliwood.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>AliWood</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/antas.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Antas</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/chainblockmedia.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>ATM</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/aquatechnik.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Aquatechnik</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/cat.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>CAT</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/chainblockmedia.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Chain Block Media</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/dincel.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Dincel</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/mhedemag.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>MHE Demag</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/tridify.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Tridify</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/payapps.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>Pay Apps</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/tafehsw.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>TafeHSW</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/wds.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>WDS</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card featured mt-4" data-toggle="modal" data-target="#modalDetail">
						<div class="pict">
					  		<img src="./dist/images/payapps.jpg" class="card-img-top" alt="season">
					  	</div>
						<div class="card-body">
						  	<div class="desc mb-5">
						  		<h5>WHS Monitor</h5>
						  		<span>Stand: B169</span>
						  	</div>
						  	<a href="#"><span class="material-icons-outlined">description</span></a>
						  	<a href="#"><span class="material-icons-outlined">photo_library</span></a>
						  	<a href="#"><span class="material-icons-outlined">videocam</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sponsored-list">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	participant
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-detail" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="pict">
      		<img src="./dist/images/antas.jpg" class="card-img-top" alt="antas">
      	</div>
        <div class="desc">
        	<h5 class="modal-title" id="modalDetail">Antas</h5>
	        <p>Stand: B169</p>
	        <p>Coatings, Sealants & Adhesives | Sydney Build</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-8">
        		<div class="content-about">
        		<h4>About Antas</h4>
        		<p>Antas Pacific supplies a range of construction sealant and adhesive products based on modified silane (MS), silicone, polyurethane and acrylic polymers which are used in applications of curtain wall, insulating glass, glazing, exterior and interior caulking and sealing, and more.</p>
        		<p>Antas® is manufactured since 1989 by Jointas Chemical, a leading sealant and industrial coatings manufacturer based in Guangzhou, China. The China Construction Metal Structure Association has ranked Antas® among the best construction sealant brands in China over the last 14 consecutive years. Started as a private company, Jointas is now publicly listed in Shenzhen Stock Exchange.</p>
        		</div>
        	</div>
        	<div class="col-4">
        		<div class="content-about side">
        			<h4>Address</h4>
        			<p>1/17-19 Pavesi Street Smithfield 2165 <strong>Australia</strong></p>
        			<a href="#" class="btn btn-link btn-block"><span class="material-icons">picture_as_pdf</span> Download PDF</a>
        			<a href="#" class="btn btn-link btn-block mb-5"><span class="material-icons-outlined">videocam</span> Playback Sales Video</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">BOOK A MEETING</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">TALK SOMEONE</a>
        			<a href="#" class="btn btn-primary btn-sm btn-block mb-3">REQUEST FREE SAMPLE</a>
        		</div>
        	</div>
        	<div class="col-12">
        		<div class="content-about list-product">
        			<h4 class="mb-4 mt-4">Product</h4>
        			<div class="row">
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_1.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle G-13</h5>
							  		<p>Rekortan® G-13 is our top performing, elite full PUR, IAAF certified track system made from environmentally, renewable resources. We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_2.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle 12</h5>
							  		<p>Bottle 12 We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_3.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle</h5>
							  		<p>Elite full PUR, IAAF certified track system made from environmentally We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
      	<a href="/#" class="nav-link active">
			<span class="material-icons-outlined text-primary">event_note</span>
			Agenda
		</a>
		<a href="/#" data-rb-event-key="/#" class="nav-link">
			<span class="material-icons-outlined text-primary">amp_stories</span>
			Exhibition Hall
		</a>
		<a href="/contact.html" data-rb-event-key="/contact" class="nav-link">
			<span class="material-icons-outlined text-primary">chair</span>
			Launge
		</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}