<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="">
					<img src="./dist/images/logo-white.png">
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-menu">
							<h3>Topics</h3>
							<ul>
								<li>
									<a href="#">COVID-19</a>
								</li>
								<li>
									<a href="#">Cybersecurity</a>
								</li>
								<li>
									<a href="#">Digital Transformation</a>
								</li>
								<li>
									<a href="#">Diversity, Equity, and</a>
								</li>
								<li>
									<a href="#">Inclusion</a>
								</li>
								<li>
									<a href="#">Enterprise IT</a>
								</li>
								<li>
									<a href="#">Federal Policy</a>
								</li>
								<li>
									<a href="#">Presidents and Senior</a>
								</li>
								<li>
									<a href="#">Executives</a>
								</li>
								<li>
									<a href="#">Student Success</a>
								</li>
								<li>
									<a href="#">Teaching and Learning</a>
								</li>
								<li>
									<a href="#">Explore All Library</a>
								</li>
								<li>
									<a href="#">Topics</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-menu">
							<h3>Insights</h3>
							<ul>
								<li>
									<a href="#">Research</a>
								</li>
								<li>
									<a href="#">Core Data Service</a>
								</li>
								<li>
									<a href="#">Redback Review</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-menu">
							<h3>Conferences</h3>
							<ul>
								<li>
									<a href="#">Annual Conference</a>
								</li>
								<li>
									<a href="#">ELI Annual Meeting</a>
								</li>
								<li>
									<a href="#">Enterprise Summit</a>
								</li>
								<li>
									<a href="#">NERCOMP Annual</a>
								</li>
								<li>
									<a href="#">Conference</a>
								</li>
								<li>
									<a href="#">Security Professionals</a>
								</li>
								<li>
									<a href="#">Conference</a>
								</li>
								<li>
									<a href="#">Face-to-Face</a>
								</li>
								<li>
									<a href="#">Online</a>
								</li>
								<li>
									<a href="#">Explore All Upcoming</a>
								</li>
								<li>
									<a href="#">Events</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-menu">
							<h3>Community</h3>
							<ul>
								<li>
									<a href="#">Community Groups</a>
								</li>
								<li>
									<a href="#">Member Directory</a>
								</li>
								<li>
									<a href="#">Mentoring</a>
								</li>
								<li>
									<a href="#">ID2ID</a>
								</li>
								<li>
									<a href="#">Volunteering</a>
								</li>
								<li>
									<a href="#">Working Groups</a>
								</li>
								<li>
									<a href="#">Redback Awards</a>
								</li>
								<li>
									<a href="#">Find or Post a Job</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<p>&copy; 2020 Redback Connect. All rights reserved</p>
	</div>
</div>