<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">
			<img src="./dist/images/logo.png" alt="bersama">
		</a>
		<button class="navbar-toggler js-mobile-button" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse mobile-menu js-mobile-menu" id="navbar-menu">
			<div class="mr-auto ml-5 navbar-nav">
				<a href="/#" class="nav-link is-noty" data-toggle="modal" data-target="#chatModal">
					<span class="noty-wrapp">12</span>
					<span class="material-icons-outlined text-primary">chat</span>
				</a>
			</div>
			<ul class="navbar-nav menu">
				<li>
					<a href="#about" class="nav-link">
						<span class="material-icons-outlined text-primary">info</span>
						About
					</a>
				</li>
				<li>
					<a href="#agenda" class="nav-link">
						<span class="material-icons-outlined text-primary">event_note</span>
						Agenda
					</a>
				</li>
				<li>
					<a href="#speakers" class="nav-link">
						<span class="material-icons-outlined text-primary">record_voice_over</span>
						Speaker
					</a>
				</li>
				<li>
					<a href="#pricing" class="nav-link">
						<span class="material-icons-outlined text-primary">monetization_on</span>
						Pricing
					</a>
				</li>
				<a href="/login" data-rb-event-key="/login" class="btn btn-primary btn-sm ml-5" data-toggle="modal" data-target="#loginForm">Login</a>
				<a href="/register" data-rb-event-key="/register" class="btn btn-outline-info btn-sm ml-2" data-toggle="modal" data-target="#registerForm">Register</a>
			</ul>
		</div>
	</div>
</nav>


<!-- Modal -->
<div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="loginFormTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm radius-less" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="login-form">
        	<div class="text-center mb-4">
        		<img src="./dist/images/logo.png" alt="bersama">
        		<h2 class="mt-4 text-primary">Wellcome back</h2>
        		<span>Sign in with your credential below</span>
        	</div>
        	<form>
			  <div class="form-group">
			    <input type="email" class="form-control" id="loginEmail" placeholder="Email">
			  </div>
			  <div class="form-group">
			  	<span class="show-pass"></span>
			    <input type="password" class="form-control" id="loginPass" placeholder="Password">
			    <small id="passHelp" class="form-text">Click the eye to toggle visibility</small>
			  </div>
			</form>
        	<div class="d-flex justify-content-between mb-3">
        		<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label" for="customCheck1">Remember Me</label>
				</div>
				<a href="#">Forgot Password?</a>
        	</div>
        	<div class="text-center">
        		<button class="btn btn-primary btn-sm btn-block mb-3">Sign In</button>
        		<p class="pl-5 pr-5">Don't have an account? <a href="#" data-dismiss="modal"  data-toggle="modal" data-target="#registerForm">Click here</a> to create one</p>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registerForm" tabindex="-1" role="dialog" aria-labelledby="registerFormTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm radius-less" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="login-form">
        	<div class="text-center mb-4">
        		<img src="./dist/images/logo.png" alt="bersama">
        		<h2 class="mt-4 text-primary">Register for an account</h2>
        		<span>Simply fill out the form below</span>
        	</div>
        	<form>
        		<div class="form-group">
			    <input type="email" class="form-control" id="regUserName" placeholder="UserName">
			  </div>
			  <div class="form-group">
			    <input type="email" class="form-control" id="regEmail" placeholder="Email">
			  </div>
			  <div class="form-group mb-0">
			  	<span class="show-pass"></span>
			    <input type="password" class="form-control" id="regPass" placeholder="Password">
			    <small id="passHelp" class="form-text">Click the eye to toggle visibility</small>
			  </div>
			  <div class="form-group">
			  	<span class="show-pass"></span>
			    <input type="password" class="form-control" id="regPassRepret" placeholder="Repeat Password (Confirmation)*">
			    <small id="passHelp" class="form-text">Please repeat your password from above</small>
			  </div>
			</form>
        	<div class="d-flex justify-content-center mb-3">
        		<div class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label" for="customCheck1">I accept the terms and conditions.</label>
				</div>
        	</div>
        	<div class="text-center">
        		<button class="btn btn-primary btn-sm btn-block mb-3">CREATE ACCOUNT</button>
        		<p class="pl-5 pr-5">Already have an account? <a href="#" data-dismiss="modal"  data-toggle="modal" data-target="#loginForm">Sign in here</a></p>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
