{% set page_id = "Redback Room" %}
{% extends "layout-room.html" %}
{% block content %}
<div class="redback-room">
	<div class="header-room">
		<div><img src="./dist/images/logo-white.png" alt="logo"></div>
	</div>
	<div class="main-room">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_1.jpg" alt="logo"></div>
						<div class="participant-name">
							Dwi Wibowo
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_2.jpg" alt="logo"></div>
						<div class="participant-name">
							Pona Valdez
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_3.jpg" alt="logo"></div>
						<div class="participant-name">
							Jessica Miles
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_4.jpg" alt="logo"></div>
						<div class="participant-name">
							Kerri Barber
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_5.jpg" alt="logo"></div>
						<div class="participant-name">
							Natasha Gamble
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_6.jpg" alt="logo"></div>
						<div class="participant-name">
							Vanessa Ryan
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_7.jpg" alt="logo"></div>
						<div class="participant-name">
							Meredith Hendricks
						</div>
					</div>
				</div>
				<!-- <div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_8.jpg" alt="logo"></div>
						<div class="participant-name">
							Carol Kelly
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="participhant">
						<div class="pict"><img src="./dist/images/room_8.jpg" alt="logo"></div>
						<div class="participant-name">
							Julia Petersen
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="side-room">
		<div class="side-wrapp">
			<div class="side-header">
				<h3>PARTICIPANTS (10)</h3>
				<div class="form-group form-search mt-4 mb-0">
			  		<span class="material-icons">search</span>
				  	<input type="text" class="form-control" placeholder="Search Perticipant">
				 </div>
			</div>
			<div class="participant-list">
			 	<ul>
			 		<li class="d-flex justify-content-between align-items-center">
			 			<div>
			 				<div class="participant-wrapp">
	  							<div>
									<div class="pict">
										<img src="./dist/images/pict1.jpg" alt="lounge">
									</div>
									<div class="desc">
										<h3>Grant Marshall</h3>
										<span>Art Director</span>
									</div>
								</div>
	  						</div>
			 			</div>
			 			<div class="px-3 py-3">
			 				<a href="#" class="mr-2"><span class="material-icons">mic_none</span></a>
			 				<a href="#"><span class="material-icons-outlined">videocam</span></a>
			 			</div>
			 		</li>
			 		<li class="d-flex justify-content-between align-items-center">
			 			<div>
			 				<div class="participant-wrapp">
	  							<div>
									<div class="pict">
										<img src="./dist/images/kelly.png" alt="lounge">
									</div>
									<div class="desc">
										<h3>Pena Valdez</h3>
										<span>Marketing Expert</span>
									</div>
								</div>
	  						</div>
			 			</div>
			 			<div class="px-3 py-3">
			 				<a href="#" class="mr-2"><span class="material-icons">mic_none</span></a>
			 				<a href="#"><span class="material-icons-outlined">videocam</span></a>
			 			</div>
			 		</li>
			 		<li class="d-flex justify-content-between align-items-center">
			 			<div>
			 				<div class="participant-wrapp">
	  							<div>
									<div class="pict">
										<img src="./dist/images/pict2.jpg" alt="lounge">
									</div>
									<div class="desc">
										<h3>Jessica Miles</h3>
										<span>Warehouse Manager</span>
									</div>
								</div>
	  						</div>
			 			</div>
			 			<div class="px-3 py-3">
			 				<a href="#" class="mr-2"><span class="material-icons">mic_none</span></a>
			 				<a href="#"><span class="material-icons-outlined">videocam</span></a>
			 			</div>
			 		</li>
			 		<li class="d-flex justify-content-between align-items-center">
			 			<div>
			 				<div class="participant-wrapp">
	  							<div>
									<div class="pict">
										<img src="./dist/images/charlotte.png" alt="lounge">
									</div>
									<div class="desc">
										<h3>Kerri Barber</h3>
										<span>Dentist</span>
									</div>
								</div>
	  						</div>
			 			</div>
			 			<div class="px-3 py-3">
			 				<a href="#" class="mr-2"><span class="material-icons">mic_none</span></a>
			 				<a href="#"><span class="material-icons-outlined">videocam</span></a>
			 			</div>
			 		</li>
			 		<li class="d-flex justify-content-between align-items-center">
			 			<div>
			 				<div class="participant-wrapp">
	  							<div>
									<div class="pict">
										<img src="./dist/images/pict3.jpg" alt="lounge">
									</div>
									<div class="desc">
										<h3>Natasha Gamble</h3>
										<span>Freelance</span>
									</div>
								</div>
	  						</div>
			 			</div>
			 			<div class="px-3 py-3">
			 				<a href="#" class="mr-2"><span class="material-icons">mic_none</span></a>
			 				<a href="#"><span class="material-icons-outlined">videocam</span></a>
			 			</div>
			 		</li>
			 		<li class="d-flex justify-content-between align-items-center">
			 			<div>
			 				<div class="participant-wrapp">
	  							<div>
									<div class="pict">
										<img src="./dist/images/94.jpg" alt="lounge">
									</div>
									<div class="desc">
										<h3>White Castaneda</h3>
										<span>accountant</span>
									</div>
								</div>
	  						</div>
			 			</div>
			 			<div class="px-3 py-3">
			 				<a href="#" class="mr-2"><span class="material-icons">mic_none</span></a>
			 				<a href="#"><span class="material-icons-outlined">videocam</span></a>
			 			</div>
			 		</li>
			 	</ul>
			</div>
		</div>
		<div class="side-wrapp">
			<div class="side-header">
				<h3>GROUP CHAT</h3>
			</div>
			<div class="chat-list">
				<ul>
					<li>
						<div class="pict"><img src="./dist/images/charlotte.png" alt="lounge"></div>
						<div class="chat-text">
							Please Explain to me!!
							<span>Yayuk 12:41 PM</span>
						</div>
					</li>
					<li>
						<div class="pict"><img src="./dist/images/david.png" alt="lounge"></div>
						<div class="chat-text">
							Let's start I am ready..
							<span>Bambang 12:41 PM</span>
						</div>
					</li>
					<li>
						<div class="pict"><img src="./dist/images/charlotte.png" alt="lounge"></div>
						<div class="chat-text">
							Oke lets go !!
							<span>Yayuk 12:41 PM</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="chat-form">
				<div class="form-group">
			  		<a href="#"><span class="material-icons">send</span></a>
				  	<input type="text" class="form-control" placeholder="Press Enter to Post">
				 </div>
			</div>
		</div>
	</div>
	<div class="footer-room d-flex justify-content-between align-items-center">
		<div class="d-flex">
			<div class="btn-group dropup mr-4">
			  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="material-icons">mic_none</span>
			    Mute
			  </button>
			  <div class="dropdown-menu">
			    <!-- Dropdown menu links -->
			  </div>
			</div>
			<div class="btn-group dropup">
			  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="material-icons-outlined">videocam</span>
			    Stop Video
			  </button>
			  <div class="dropdown-menu">
			    <!-- Dropdown menu links -->
			  </div>
			</div>
		</div>
		<div class="d-flex">
			<div class="btn-group dropup mr-4">
			  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="material-icons-outlined">person_add</span>
			    Invite
			  </button>
			  <div class="dropdown-menu">
			    <!-- Dropdown menu links -->
			  </div>
			</div>
			<div class="btn-group dropup mr-4">
			  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="material-icons-outlined">group</span>
			    Manage Participants
			    <div class="total-participant">
			    	10
			    </div>
			  </button>
			  <div class="dropdown-menu">
			    <!-- Dropdown menu links -->
			  </div>
			</div>
			<div class="btn-group dropup">
			  <button type="button" class="btn btn-link dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="material-icons-outlined">screen_share</span>
			    Screen Share
			  </button>
			  <div class="dropdown-menu">
			    <!-- Dropdown menu links -->
			  </div>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-link">
			  	<span class="material-icons-outlined">chat</span>
			    Chat
			  </button>
			</div>
		</div>
		<div class="d-flex justify-content-end">
			<a href="#" class="btn btn-link text-danger">End Meeting</a>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}{% endblock %}