.lounge {
	padding-top: 96px;
	h1 {
		position: relative;
		z-index: 1;
	}

	.jumbotron {
		min-height: inherit;
		height: 288px;
		padding: 0;
		background-position: center;
		position: relative;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(90deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.4;
		}
		h1 {
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}
.table-view {
	position: relative;
	bottom: -50px;
	span {
		display: inline-block;
		color: $white;
		font-size: 16px;
		font-weight: 600;
		line-height: 19px;
		margin-right: 12px;
	}
	.custom-control {
		display: inline-block;
		&.custom-switch {
			.custom-control-label {
				&::after {
					width: calc(1.5rem - 4px);
    				height: calc(1.5rem - 4px);
    				border-radius: 100%;
    				top: calc(.15625rem + -2px);
						left: calc(-2.25rem + -3px);
						background-color: $primary;
				}
			}
			.custom-control-input {
				&:checked {
					~ .custom-control-label {
						&::before {
							background-color: $white;
							border-color: $white;
						}
						&::after {
							background-color: $primary;
							transform: translateX(.95rem);
						}
					}
				}
			}
		}
	}
}
.table-list {
	background-color: $white;
	border-radius: 4px;
	height: 100%;
	padding-bottom: 0;
	position: relative;
	.table-name {
		padding: 15px;
		border-bottom: 1px solid #EBEBEE;
		h3 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
			line-height: 24px;
		}
		.btn {
			padding: 0px;
			color: $primary;
			text-align: center;
		}
	}
	.list-user {
		padding: 30px 15px;
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				margin-bottom: 15px;
				&::after {
					content: "";
					display: block;
					clear: both;
				}
				.pict {
					float: left;
					margin-right: 10px;
					width: 32px;
					height: 32px;
					border-radius: 100%;
					overflow: hidden;
					background-color: #EBEBEE;
					img {
						max-width: 100%;
					}
				}
				.desc {
					overflow: hidden;
					h3 {
						font-size: 12px;
						font-weight: 700;
						color: #000000;
						margin-bottom: 0;
					}
					span {
						font-size: 10px;
						color: #888888;
						font-weight: 600;
					}
				}
			}
		}
	}
	.table-foot {
		padding: 15px;
		border-top: 1px solid #EBEBEE;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		p {
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 0;
			color: $success;
			> span {
				color: #999999;
				vertical-align: middle;
				margin-right: 8px;
			}
		}
		.btn {
			text-transform: uppercase;
			border-radius: 4px;
			box-shadow: 0px 2px 3px #00000029;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.lounge-wrapp {
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding-bottom: 0;
	.card-header {
		h2 {
			font-size: 14px;
			span {
				color: #666666;
				font-weight: 400;
			}
		}
	}
	.action-wrapp {
	  padding-top: 20px;
	  padding-left: 20px;
	  padding-right: 20px;
	  margin: 0 -20px;
	  border-top: 1px solid #E1E1E1;
	}
	.user-lounge {
		width: 307px;
		height: 307px;
		border-radius: 100%;
		margin: 40px auto 40px auto;
		background-image: url(../images/conference-image.png);
		background-repeat: no-repeat;
		background-size: 100%;
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				display: flex;
				width: 100%;
				justify-content: space-between;
				margin-bottom: 14px;
				.user-on {
					width: 38.2px;
					height: 38.2px;
					border-radius: 100%;
					background-color: transparent;
					position: relative;
					> div {
						background-color: rgba(255,255,255, 0.8);
						border: 1px solid #EBEBEE;
						border-radius: 8px;
						position: absolute;
						width: 170px;
						padding: 8px;
						&:after {
							content: "";
							display: block;
							clear: both;
						}
						.pict {
							float: left;
							margin-right: 6px;
							width: 32px;
							height: 32px;
							border-radius: 100%;
							overflow: hidden;
							background-color: #EBEBEE;
							img {
								max-width: 100%;
							}
						}
						.desc {
							overflow: hidden;
							h3 {
								font-size: 12px;
								font-weight: 700;
								color: #000000;
								margin-bottom: 0;
							}
							span {
								font-size: 10px;
								color: #888888;
								font-weight: 600;
							}
						}
					}
					&:first-child {
						> div {
							right: 0;
							@media (max-width: 1280px) {
								right: -50px;
							}
						}
					}
					&:last-child {
						> div {
							@media (max-width: 1280px) {
								left: -50px;
							}
						}
					}
				}
				&:first-child {
					justify-content: center;
					.user-on {
						> div {
							top: -30px;
							left: 50%;
							margin-left: -75px;
						}
					}
				}
				&:last-child {
					justify-content: center;
					margin-bottom: 0;
					.user-on {
						> div {
							bottom: -30px;
							left: 50%;
							margin-left: -75px;
						}
					}
				}
				&:nth-child(2) {
					padding: 0 15%;
					.user-on {
						position: relative;
						top: -20px;
					}
				}
				&:nth-child(3) {
					padding: 0 5px;
					.user-on {
						position: relative;
						top: -10px;
					}
				}
				&:nth-last-child(3) {
					padding: 0 5px;
					.user-on {
						position: relative;
						bottom: -10px;
					}
				}
				&:nth-last-child(2) {
					padding: 0 15%;
					.user-on {
						position: relative;
						bottom: -20px;
					}
				}
			}
		}
	}
}