.card {
  border-radius: 12px;
  border: none;
  .card-header {
    background-color: #ffffff;
    border-color: #E5EAEE;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-footer {
    background-color: #ffffff;
    border-color: #E5EAEE;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}