.dropup {
  .dropdown-toggle {
    padding-right: 50px;
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: 0 none !important;
      box-shadow: none;
    }
    &::after {
      position: absolute;
      top: 50%;
      right: 8px;
      border: none;
      @include translateY(-50%);
      content: "expand_less";
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
  }
}