.jumbotron {
  padding: 0 0;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: calc(100vh - 96px);
  margin-bottom: 40px;
  z-index: 1;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
  }
  h1 {
    color: $white;
    position: relative;
    z-index: 1;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 15px;
    font-weight: 900;
    @media(max-width: 767px) {
      font-size: 36px;
      line-height: 40px;
    }
  }
  p {
    color: $white;
    position: relative;
    z-index: 1;
    font-size: 24px;
    line-height: 36px;
    color: $white;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    @media(max-width: 767px) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .btn {
    position: relative;
    z-index: 1;
    padding-left: 40px;
    padding-right: 40px;
  }
}